@font-face {
    font-family: 'main';
    src: url(font/KosugiMaru-Regular.ttf);
}
body {
    background-image: url(../image/back/bg_image.png);
}
h1 {
    font-family: main;
}
h2 {
    font-family: main;
}
h3 {
    font-family: main;
}
h4 {
    font-family: main;
}
p {
    font-family: main;
    line-height: 1.7;
}
article {
    width: 64%;
}
aside {
    width: 20%;
}
#news {
    display: flex;
    justify-content: space-between;
}
.iframe1 {
    width: 98%;
    height: 600px;
}
.div1{
   width: 15%; 
}
footer {
    width: 100%;
}
header{
    background-color: yellowgreen;
}
body {
    background-image: url(image/back/bg_image.png);
}