@font-face {
    font-family: 'main';
    src: url(font/KosugiMaru-Regular.ttf);
}
body {
    background-image: url(../image/back/bg_image.png);
}
h1 {
    font-family: main;
}
h2 {
    font-family: main;
}
h3 {
    font-family: main;
}
h4 {
    font-family: main;
}
p {
    font-family: main;
    line-height: 1.7;
}
article {
    display: flexbox;
    width: 70%;
}
aside {
    display: flexbox;
    width: 20%;
}
#news {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.7%;
}
.iframe1 {
    width: 98%;
    height: 600px;
}
.div1{
    display: flexbox;
   width: 15%; 
}
footer {
    width: 100%;
}
header{
    background-color: yellowgreen;
}
body {
    background-image: url(https://kamekichi110.github.io/sirokuma/kamekichi_potal/image/back/bg_image.png);
    width: 800px;
    height: auto;
}